doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  style(type='text/css').
    .jumbotron { text-align: center; }
  title login
.jumbotron(style='background: rgba(160, 95, 160, 0.479) !important')
  h2
    strong Login Page
  p please enter your user name and password, Both are case sensitive
.container.mb-5
  form#login(method='post' action='/loginEntry')
    #error.alert.alert-danger(role='alert', style=`display: ${message ? "block" : "none"}`) #{message}
    .form-group
      label(for='user')  User:
      input#user.form-control(type='text' name='user' required='')
    .form-group
      label(for='user')  Password:
      input#password.form-control(type='password' name='password' required='')
    button.btn.btn-primary.btn-block(type='submit') login
  br
  button.btn.btn-success.btn-block(onclick='createAccount()' style='background-color: rgba(160, 95, 160, 0.479); border: 0px;') Create Account
script(type='text/javascript').
  function createAccount() {
  window.location.href = "/createAccount";
  }
